@charset "utf-8";

body {
  font: normal normal 400 11px/1.5 Helvetica, Arial, sans-serif;
  color: #000;
}

.CR { color: #f00; }
.CG { color: #007000; }
.CB { color: #00f; }
.CI { color: #777; }
.CW { color: #ccc; }
